{% extends '_layout.njk' %}

{% block content %}
 
  <h2>Edit Player Details</h2>
  <form action="/edit-player/{{ player.id }}/{{ competitionId }}" method="POST">
    <input type="hidden" name="crumb" value="{{ crumb }}">
    <div class="form-group">
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first-name" class="form-control" value="{{ player['first-name'] }}" required>
    </div>

    <div class="form-group">
      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last-name" class="form-control" value="{{ player['last-name'] }}" required>
    </div>

    <div class="form-group">
      <label for="team">Team:</label>
      <input type="text" id="team" name="team" class="form-control" value="{{ player.team }}" required>
    </div>

    <div class="form-group">
      <label for="competition">Competition:</label>
      <select id="competition" name="competition" class="form-control" required>
        <option value="All" {% if player.competition == 'All' %}selected{% endif %}>All</option>
        <option value="Championship" {% if player.competition == 'Championship' %}selected{% endif %}>Championship</option>
        <option value="League One" {% if player.competition == 'League One' %}selected{% endif %}>League One</option>
        <option value="League Two" {% if player.competition == 'League Two' %}selected{% endif %}>League Two</option>
      </select>
    </div>

    <div class="form-group">
      <label for="position">Position:</label>
      <select id="position" name="position" class="form-control" required>
        <option value="DEF" {% if player.position == 'DEF' %}selected{% endif %}>UNKNOWN</option>
        <option value="DEF" {% if player.position == 'DEF' %}selected{% endif %}>DEF</option>
        <option value="MID" {% if player.position == 'MID' %}selected{% endif %}>MID</option>
        <option value="FWD" {% if player.position == 'FWD' %}selected{% endif %}>FWD</option>
      </select>
    </div>

  <div class="form-group">
    <label for="positionConfidence">Position Confidence:</label>
    <select id="positionConfidence" name="positionConfidence" class="form-control" required>
      <option value="" {% if not player.positionConfidence %}selected{% endif %}></option>
      <option value="High" {% if player.positionConfidence == 'High' %}selected{% endif %}>High</option>
      <option value="Medium" {% if player.positionConfidence == 'Medium' %}selected{% endif %}>Medium</option>
      <option value="Low" {% if player.positionConfidence == 'Low' %}selected{% endif %}>Low</option>
    </select>
  </div>

    <div class="form-group">
      <label for="goals">Goals:</label>
      <input type="number" id="goals" name="goals" class="form-control" value="{{ player.goals }}" required>
    </div>

<div class="form-group">
  <label for="manager">Owned By:</label>
  <select id="manager" name="manager" class="form-control">
    <option value="">-- Not Owned --</option>
    {% for manager in managers %}
      <option value="{{ manager }}" {% if player.manager == manager %}selected{% endif %}>
        {{ manager }}
      </option>
    {% endfor %}
  </select>
</div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <p><a href="/fetch-goalscorers?league={{ competitionId }}">Back to Goalscorers</a></p>
{% endblock %}
