{% extends '_layout.njk' %}

{% block content %}
<div class="container">
  <h1>Edit Email</h1>
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}
  <form action="/edit-email/{{ user._id }}" method="POST">
  <input type='hidden' name='crumb' value='{{ crumb }}'>
    <div class="form-group">
      <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Email</button>
  </form>
</div>
{% endblock %}
