{% extends '_layout.njk' %}

{% block content %}
  <h2>{{ competition }} - Top Goalscorers</h2>
  <br/>
  <table class="table table-hover table-sm small">
    <thead>
      <tr>
        <th style="text-align:center">First Name</th>
        <th style="text-align:center">Last Name</th>
        <th style="text-align:center">Club</th>
        <th style="text-align:center">Position</th>
        <th style="text-align:center">Position Confidence</th>
        <th style="text-align:center">Goals</th>
        <th style="text-align:center">Owned By</th>
      </tr>
    </thead>
    <tbody>
      {% for player in goalscorers %}
      <tr>
        <td style="text-align:center">{{ player['first-name'] }}</td>
        <td style="text-align:center">{{ player['last-name'] }}</td>
        <td style="text-align:center">{{ player['team'] }}</td>
        <td style="text-align:center">{{ player['position'] }}</td>
        <td style="text-align:center">{{ player['positionConfidence'] }}</td>
        <td style="text-align:center">{{ player['goals'] }}</td>
        <td style="text-align:center">{{ player['manager'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><a href="/">Back to the search</a></p>

{% endblock %}
